/* local customizations */

/*. drag and drop */
#contents {
    position: relative;
}

#contents img {
    width: 100%;
    min-height: 250px;
    background: #efefef;
}
output {
    margin-left: 20px;
}
#drop_zone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #bbb;
    margin: 5px 15px;
}

#drop_zone.active {
    background: #efefef;
}

#file-list {
    margin: 0 20px;
}
.block {
    position: absolute;
    display: block;
    border: 1px solid gray;
}

.text-content{
    white-space: nowrap;
    line-height: 100%;
    opacity: 0.5;
}
.selected {
     opacity: 1;
     background: rgba(255,255,255,0.5);
}


/* davila entity diagram */

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

svg.d3, .container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
}

.container {
    background-color: #efefef;
}

.entity {
    background-color: white;
    min-width: 150px;
    padding: 10px;
    margin: 2px;
    position: absolute;
    border-style: solid;
    z-index: 4;
}

.entity .detail-toggle {
  position: absolute;
  top: 2px;
  right: 5px;
  color: #b7b7b7; /* gray? lightgray? */
  cursor: pointer;
}
.entity .detail-toggle::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f05a";  // font awesome info circle icon
  font-size: 1.5em;
}

/* by default, do not display entity details/attributes */
.entity .fieldlist {
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: opacity 1s ease-out;
}

/* display fields when details class is set on entity container */
.entity.details .fieldlist {
  opacity: 1;
  visibility: visible;
  height: auto;

}

.fields {
  list-style-type: none;
  padding-left: 0;
}

.fields span.type {
  float: right;
  margin-left: 10px;
}
