/* local customizations */

/*. drag and drop */
#contents {
    position: relative;
}

#contents img {
    width: 100%;
    min-height: 250px;
    background: #efefef;
}
output {
    margin-left: 20px;
}
#drop_zone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #bbb;
    margin: 5px 15px;
}

#drop_zone.active {
    background: #efefef;
}

.block {
    position: absolute;
    display: block;
    border: 1px solid gray;
}

.text-content{
    white-space: nowrap;
    line-height: 100%;
    opacity: 0.5;
}
.selected {
     opacity: 1;
     background: rgba(255,255,255,0.5);
}


/* davila entity diagram */

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

svg.d3, .container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
}

.container {
    background-color: #efefef;
}

.entity {
    background-color: white;
    min-width: 150px;
    padding: 10px;
    margin: 2px;
    position: absolute;
    border-style: solid;
    z-index: 4;

    h2 {
      padding-right: 2em;
      margin-bottom: 0;
    }

  .detail-toggle {
    position: absolute;
    top: 2px;
    right: 5px;
    color: #b7b7b7; /* gray? lightgray? */
    cursor: pointer;

    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f05a";  // font awesome info circle icon
      font-size: 1.5em;
    }
  }


  .details {
    /* by default, do not display entity details/attributes */
    height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: opacity 1s ease-out;
  }

  /* display fields when details class is set on entity container */
  &.details .details {
    opacity: 1;
    visibility: visible;
    height: auto;
    position: relative;

  }

  .fieldlist {
    margin: 0;
  }

  .fields {
    list-style-type: none;
    padding-left: 0;

    /* display additional details after name */
    span.name::after {
      content: '';
      padding-left: 0.5em;
      color: gray;
      font-variant: small-caps;
    }

    &.primary-key span.name::after {
      content: 'primary key';
    }
    &.foreign-key span.name::after {
      content: 'foreign key';
    }

    span.type {
      float: right;
      margin-left: 10px;
    }
  }

  // common styles for description display and textarea for editing it
  .description, textarea.describe {
    border: 0;
    background-color: #efefef;
    padding: 3px;
    width: 98%;
    margin: 0 1%;
    resize: none;
    font-size: 12px;  /* ensure consistent font size for display & edit */

    /* TODO: maybe make heights consistent? but that takes up more space
      than may be necessary */
  }

  .describe:focus {
    background-color: white;
    resize: auto;
    overflow: auto;
  }

  .description {
    &:empty, &.editable {
      // hide description div when empty or when editing
      display: none
    }
  }
  // don't display textarea after description when description has content
  .description + textarea {
    display: none;
  }

  // display textarea when description is empty or when editing
  .description:empty + textarea,  .description.editable + textarea {
    display: block;
  }

}


/* grid layout for editor */
body.davilajs {
    display: grid;
    grid-template-columns: [start] 205px [main] auto [end];
    grid-template-rows: [start] 60px [main] auto [footer] 55px [end];
    width: 100%;
    height: 100%;
    border: none;
    grid-template-areas:
        "header main"
        "sidebar main"
        "footer main";

  &.active {
    border: 8px dashed lightblue;
   -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;

  }

  svg.d3, .container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* minimized control panel (not yet in use) */
  &.hide-nav {
      grid-template-columns: [start] 55px [main] auto [end];
  }

  & > * {
      padding: 10px;
  }

  header, footer, .controls {
      border-right: 1px solid gray;

      margin: 0;
  }

    header {
        grid-area: header;
        display: block;
        border-bottom: 1px dashed gray;
        min-height: auto;

        .site-title {
          line-height: normal;
        }
    }

    footer {
        grid-area: footer;
        border-top: 1px solid gray;
        font-size: 80%;
        font-style: italic;
    }
    .controls {
        grid-area: sidebar;

    }

    .content {
        grid-area: main;
        background-color: #efefef;
        position: relative;
    }

    #file-list {
      ul {
        margin-left: 0;
        list-style-type: none;
      }
    }
}


