<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}


  {% for js in page.extra_js %}
   <script type="text/javascript" src="{% unless js contains 'http' %}{{ site.baseurl }}/{% endunless %}{{ js }}"></script>
  {% endfor %}

  </body>

</html>